---
layout: page
title: Research
---
<p>My lifelong research agenda is designed around figuring out what turns everyday linguistic communication into 'art.' In my view, 'art' has the power to control emotion, command attention, and inspire recollection. Not all linguistic communication meets these criteria. 
In order to break off a digestable portion of this question, I focus on the phenomenon of literary allusion, whereby one piece of writing inspires recollection of another, presumably at the intention of the author. In order to make a reader recollect another work,
a lot has to happen, especially if the writer is making reference to another artist who works in a different language. Figuring out the mechanics of allusion should tell us a lot about how the art of language is deployed.

So, how is it done? To answer that question, I take a three-pronged approach.

</p>
<h2> Computational Linguistics:</h2>

<p> A big part of my research agenda concerns building software tools to analyze artistic language use. One example of such a tool is the <a href = "http://tesserae.caset.buffalo.edu/cross.php">cross-language intertextual search tool of the Tesserae project.</a></p>

<h2> Classical Philology: </h2>

<p>
Another approach I take to understanding art is the traditional study of canonical Western literature called 'Philology.' 
Basically this involves literary criticism of Latin and Greek poetry and prose. It also touches on history and even economics, but I personal confine my interest to questions of method, e.g. 
<i>how</i> does Vergil command our attention and make us recall Homer when he's writting the Aeneid?

</p>


<h2> Creative Writing:</h2>

<p> If the observations I have made through linguistic and humanistic inquiry are correct, then I should be able to craft allusions of my own. For that reason, I write novels that make heavy use of classical material, hopefully putting the techniques I have observed into effective practice.</p>

    </p>
<section class="list">
    {% for post in site.posts %}
        {% if post.research %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
